<div>
    <div class="card">
        <h5 class="card-header">Welcome {{userid}}!</h5>
        <div class="card-body">
            <h5 class="card-title">Welcome to the Strava cycling competition application!</h5>
            <p class="card-text">In this app you can compete against other users in many competitions based on things
                like calories burned, average speed,
                average watts, and many more!
            </p>
            <a href="/challenges" class="btn btn-primary">View active challenges</a>
            <a href="/activities" class="btn btn-primary">View all your activities</a>

        </div>
    </div>
</div>