<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{title}} </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <style>
        body {
            margin-bottom: 50px; /* Adjust this margin based on the height of your h5 element */
        }

        h6 {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #f8f9fa; /* Optional: Add background color for better visibility */
            padding: 10px;
            margin: 0;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Strava Helper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="activities">Your Activities</a>
                <a class="nav-item nav-link" href="allActivities">All Activities</a>
                <a class="nav-item nav-link" href="challenges">Challenges</a>
                <a class="nav-item nav-link" href="listUsers">Users</a>
            </div>
        </div>
    </nav>
</head>

<body>
    <h1>Strava Competitions</h1>
    {{{body}}}
</body>

<h6>Made by Kyle Lai Thom</h6>

</html>
